{% extends 'base_template.html' %}

{% block title %}
<title>BM Grade - Admin Quiz Creator</title>
{% endblock %}

{% block main_content %}
<div id="main-content">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Quiz</h3>
                    <p class="text-subtitle text-muted">Menu buat, edit, hapus quiz.</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin_dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active"><a href="/admin_quiz_creator">Quiz</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Buat Quiz Baru</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal" action="/admin_quiz_creator_handler" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                            <div class="form-body">
                                <div class="row">

                                    <div class="col-md-4">
                                        <label>Judul Quiz</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" id="judul_quiz" class="form-control" name="judul_quiz"
                                            placeholder="Judul Quiz">
                                    </div>

                                    <div class="col-md-4">
                                        <label>Jumlah Jawaban</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="number" id="jumlah_jawaban" class="form-control"
                                            name="jumlah_jawaban" placeholder="Jumlah Jawaban">
                                    </div>

                                    <div class="col-md-4">
                                        <label>Jumlah Nomor Soal</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="number" id="jumlah_nomor_soal" class="form-control"
                                            name="jumlah_nomor_soal" placeholder="Jumlah Nomor Soal">
                                    </div>

                                    <div class="col-md-4">
                                        <label>Waktu Pengerjaan (menit)</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="number" id="waktu_pengerjaan" class="form-control"
                                            name="waktu_pengerjaan" placeholder="Waktu Pengerjaan (menit)">
                                    </div>

                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Buat</button>
                                        <button type="reset"
                                            class="btn btn-light-secondary me-1 mb-1">Kosongkan</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Daftar Quiz</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2021 &copy; Mazer</p>
            </div>
            <div class="float-end">
                <p>Crafted with <span class="text-danger"><i class="bi bi-heart-fill icon-mid"></i></span>
                    by <a href="https://ahmadsaugi.com">Saugi</a></p>
            </div>
        </div>
    </footer>
</div>
{% endblock %}