{% extends 'base_template.html' %}

{% block title %}
<title>BM Grade - Admin Quiz Creator</title>
{% endblock %}

{% block main_content %}
<div id="main-content">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Quiz</h3>
                    <p class="text-subtitle text-muted">Menu buat, edit, hapus quiz.</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin_dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/admin_quiz_creator">Quiz</a></li>
                            <li class="breadcrumb-item active"><a href="/admin_quiz_answersheet_create/{{ quiz_id }}">{{ quiz_name }}</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section class="section">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Edit Answersheet</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        {% for number in quiz_total_number %}
                        <h4>{{ number }}</h4>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

    </div>

    <footer>
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2021 &copy; Mazer</p>
            </div>
            <div class="float-end">
                <p>Crafted with <span class="text-danger"><i class="bi bi-heart-fill icon-mid"></i></span>
                    by <a href="https://ahmadsaugi.com">Saugi</a></p>
            </div>
        </div>
    </footer>
</div>
{% endblock %}