{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<main>
    <section>
        <article>
            <h1>Welcome home.</h1>
        </article>

        <article>
            <ul>
                <li><a href="/login">User Login</a></li>
                <li><a href="/user_profile">User Profile</a></li>
                <li><a href="/admin_login">Admin Login</a></li>
                <li><a href="/admin_dashboard">Admin Dashboard</a></li>
            </ul>
        </article>
    </section>
</main>
{% endblock %}